@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}


/* Style the scrollbar handle (the draggable part) */
::-webkit-scrollbar-thumb {
    background-color: #1e1e1e; /* Dark grey color */
    border-radius: 10px; /* Optional rounded corners */
}

/* Style the scrollbar track (background area) */
::-webkit-scrollbar-track {
    background-color: #333; /* Darker grey for the track */
}

/* Style the scrollbar */
::-webkit-scrollbar {
    width: 12px; /* Set width for vertical scrollbar */
    height: 12px; /* Set height for horizontal scrollbar */
}